{
  "mycall": "{{ callsign }}",
  "secure_login_password": "{{ winlink_password }}",
  "auxiliary_addresses": [],
  "locator": "{{ gridsquare }}",
  "http_addr": "0.0.0.0:8080",
  "motd": [
    "Open source Winlink client - getpat.io"
  ],
  "connect_aliases": {
    "telnet": "telnet://{mycall}:CMSTelnet@cms.winlink.org:8772/wl2k",
    "kx4z": "ardop:///kx4z?freq=7102",
    "w4cat-po": "telnet://w4cat.CMSTelnet@10.16.153.60:8772/wl2k"
  },
  "listen": [],
  "hamlib_rigs": {},
  "ax25": {
    "port": "wl2k",
    "beacon": {
      "every": 3600,
      "message": "Winlink P2P",
      "destination": "IDENT"
    },
    "rig": ""
  },
  "serial-tnc": {
    "path": "/dev/ttyUSB0",
    "baudrate": 9600,
    "type": "Kenwood"
  },
  "winmor": {
    "addr": "localhost:8500",
    "inbound_bandwidth": 1600,
    "drive_level": 0,
    "rig": "",
    "ptt_ctrl": false
  },
  "ardop": {
    "addr": "localhost:8515",
    "arq_bandwidth": {
      "Forced": false,
      "Max": 500
    },
    "rig": "",
    "ptt_ctrl": false,
    "beacon_interval": 0,
    "cwid_enabled": true
  },
  "pactor": {
    "path": "/dev/ttyUSB0",
    "baudrate": 57600,
    "rig": "",
    "custom_init_script": ""
  },
  "telnet": {
    "listen_addr": ":8774",
    "password": ""
  },
  "gpsd_addr": "localhost:2947",
  "schedule": {},
  "version_reporting_disabled": false
}
